*{
  box-sizing: border-box;
}
.car-box{
  width: 790px;
  height: 1120px;
  background: #F6F6F4;
  padding: 62px 72px 28px 72px;
  border-radius: 0px 0px 0px 0px;
  margin: 0 auto;
  position: relative;
  page-break-inside: avoid;
}

.footer-box{
  position: absolute;
  bottom: 28px;
  width: 646px;
  img{
    width: 100%;
  }
  .footer-text{
    width: 100%;
    text-align: center;
  }
}
.indicator-box{
  height: 150px;
  text-align: center;
  line-height: 150px;
}
.state-btn{
  width: 66px;
  height: 24px;
  background: #254A96;
  color: #fff;
  position: relative;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  &:before{
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background: transparent;
    border: 2px solid #ffffff;
    left: 0;
    right: 0;
  }
}
.header-three {
  color: #1A356B;
  font-size: 24px;
  font-family: Fotor HelloFont GongYiTi-Regular, Fotor HelloFont GongYiTi;
  letter-spacing: 4px;
  padding-bottom: 10px;

}

.header-point{
  font-size: 24px;
  font-weight: 400;
  color: #1A356B;
  line-height: 19px;
  letter-spacing: 1px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  &:before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #2E5CBB;
    left: 0;
    top: 50%;
  }
}